:root{
    --bright-color: #FFC001;
    --dark-color: #000;
    --light-color: #fff;
} 

body,
.sub-bg,
.footer-half .copyrights
#preloader,
#preloader:after, #preloader:before,
.footer-half .copyrights
{
    background: var(--dark-color) !important;
}

.bg-color{
    background-color: var(--bright-color) !important;
}

.main-color,
.progress-wrap::after,
.services .mas-item .icon,
.sec-head h6,
.portfolio .filtering span.active,
.footer-half .subscribe form button,
.block-sec .vid-area .vid-icon .vid span,
.services .step-item .icon,
.footer-half .copyrights p a,
.call-action .content h6 span,
.works-header .capt h2 span{    
    color: var(--bright-color) !important;
}
 
.block-sec .testim-box, 
.sub-title span ,
.portfolio .filtering span:after,
.services .mas-item .bg-color,
.skills-box .skill-progress .progres,
.skills-box .skill-progress .progres:after,
.pace .pace-progress{
    background: var(--bright-color) !important;
}

.progress-wrap svg.progress-circle path{
    stroke: var(--bright-color) !important;
}

.block-sec .vid-area .vid-icon .vid{
    background:  #262626;
}

section.blc-sec.section-padding.pb-100.white{
    /* background: #ffc107;
    background: #af860c; */
    background: #fff;
}

p.enhanced-text{
    font-size: 19px !important;
    color: #000;
}

.dark-text{
    color: #000 !important;
}

.dark-text h6{
    color: #fff !important;
    color: #000 !important;
}

.services .step-item.xcolor, 
.white-bg,
.block-sec .white-bg,
.min-area .img:after{
    background: var(--light-color) !important;
}

.sec-head .tbg{
    -webkit-text-stroke: 1px rgb(255 255 255);
}

.team .item .info .social a{
    color: #fff !important;
}

.team .team-container:after {
    background: #000 !important;
}

/* .footer-half::after{
    background: #000 !important;
} */

.bright{
    color: var(--bright-color) !important;
}

.header-text {
    font-size: 140px;
}

.white-text{
    color: #fff !important;
}

.cursor-inner{
    background-color: var(--bright-color) !important;
}

.bulb{
    height: 50vh;
    margin-bottom: -106px;
}

.bulb img{
    height: 50vh;
    width: 100%;
    object-fit: contain;
}

.cursor-inner.cursor-hover{
    background-color: var(--bright-color) !important;
}

.cursor-outer{
    border: 1px solid #dacb75 !important;
    opacity: 0.5;
}

@media (max-width: 767px){
    .team .team-container{
        width: 100% !important;
    }

    .header-text {
        font-size: 770px;
    }
}